<div style="background-color:var(--dark-color); height: 100vh">
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <h1 style="color:var(--light-color); text-align: center;">Slistr</h1>
        <br>
        <br>
        <div>
            <form action="/getList" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="lid" placeholder="Enter list code..." style="border-color: var(--neutral-color);">
                    <br>
                    <input type="text" class="form-control" name="usr" placeholder="Enter user name..." style="border-color: var(--neutral-color);">
                    <br>
                    <button type="submit" class="btn btn-primary" style="background-color: var(--main-color); border-color: var(--main-color);">
                        Go
                    </button>
                </div>
            </form>
            <a style="color: var(--main-color);" href="/newList">New List...</a>
        </div>
    </div>
</div>