<form action="/lists/delete" method="POST">
    <select name="lid">
    <% lists.forEach(list => { %>
        <option value="<%- list.lid %>"><%- list.lid %>:<%- list.name %> </option>
    <% }) %>
    </select>
    <input type="submit" value="Delete">
</form>