<style>
    #total-container {
        background-color:var(--dark-color);
        padding: 5px;
        padding-right: 15px;
        padding-left: 15px;
        position: sticky;
        top: 55px;
    }
    #add-button {
        background-color: var(--main-color);
        border-color: var(--main-color);
        display: block;
        margin: 10px 0;
        padding: 10px;
        width: 100%;
    }
</style>
<div id="total-container">
    <form action="/addItem" method="POST" id="newItemForm">
        <div class="form-row">
            <input type="hidden" name="lid" value="<%- lid %>">
            <input type="hidden" name="usr" value="<%- usr %>">
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Name..." name="name" id="nameInput">
            </div>
            <div class="col-3">
                <input type="number" class="form-control" value="0" name="quantity" id="quantInput">
            </div>
            <div class="col-3">
                <select class="form-control" name="unit">
                  <option value="units" selected>units</option>
                  <option value="cc">cc</option>
                  <option value="cm">cm</option>
                  <option value="cups">cups</option>
                  <option value="dozens">dozens</option>
                  <option value="ft">ft</option>
                  <option value="g">g</option>
                  <option value="in">in</option>
                  <option value="kg">kg</option>
                  <option value="L">L</option>
                  <option value="m">m</option>
                  <option value="mL">mL</option>
                  <option value="mm">mm</option>
                  <option value="teaspoons">teaspoons</option>
                  <option value="tablespoons">tablespoons</option>
                </select>
            </div>
        </div>
    </form>
    <button onclick="onPressPlus()" class="btn btn-primary" id="add-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
    </button>
</div>
<script>
    function onPressPlus() {
        let nameInput = document.getElementById("nameInput").value
        let quantInput = document.getElementById("quantInput").value
        if (nameInput === "") {
            alert("Enter item name!")
        } else if (isNaN(quantInput) || quantInput === "") {
            alert("Enter valid number!")
        } else {
            let itemNames = eval("[<%- items.map(item => `'${item.name}'`) %>]")
            if (itemNames.includes(nameInput)) {
                alert('this name already in list')
            } else {
                document.getElementById("newItemForm").submit()
            }
        }
    }
</script>