<style>
    .box{
        width: 100%;
        position: absolute;
        right: 0;
        top: 60px;
        display: flex;
        flex-grow: 1;
    }
    .stack-top{
        z-index: -1;
    }
    .big-box {
        background-color: rgba(200, 200, 200);
        position: relative;
        margin: 40px;
        padding: 30px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }
    .copy-box {
        background-color: rgba(255, 255, 255);
        position: relative;
        padding: 10px;
        padding-bottom: 30px;
        flex-grow: 1;
        border-radius: 10px;
    }
    .copy-icon {
        position: absolute;
        right: 10px;
        top: 5px;
    }
</style>

<div class="box stack-top" id="share_overlay">
    <div class="big-box">
        <h2>Share this list!</h2>
        <div class="copy-box">
            <br>
            <p id="copyShare" style="font-size: 12px;">
                I created a list at Slistr! Go to the following link to contribute: 
                <u style="color: blue;">https://slistr.herokuapp.com/list/<%- lid %></u>
            </p>
            <button onclick="clickCopy('copyShare')" class="btn btn-primary copy-icon" style="background-color: rgba(255, 255, 255, 0.8); border-color: transparent; color: black; width: 40px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                </svg>
            </button>
        </div>
    </div>
</div>
<script>
    function clickCopy(id) {
        var from = document.getElementById(id);
        var range = document.createRange();
        window.getSelection().removeAllRanges();
        range.selectNode(from);
        window.getSelection().addRange(range);
        document.execCommand('copy');
        window.getSelection().removeAllRanges();
        alert('Text copied!')
    }
</script>